*.meta
*.zip
/UnityOSC-master
/resources
/attractor/Assets/Extra
/attractor/Assets/OSCTest
/attractor/Assets/PostProcessing
/attractor/Assets/KvantEffects
/attractor/Library
/attractor/.vs
/attractor/Temp
/attractor/UnityPackageManager
/orbbec-blob/x64
/orbbec-blob/Debug
/orbbec-blob/webcam/Debug
/orbbec-blob/webcam/x64
/orbbec-blob/oscpack/examples
/orbbec-blob/oscpack/osc
/orbbec-blob/oscpack/tests
/orbbec-blob/oscpack/ip
/orbbec-blob/oscpack/bin/Debug/*.exe
/orbbec-blob/oscpack/bin/Debug/*.pdb
/orbbec-blob/oscpack/bin/Debug/*.ilk