*.zip
/UnityOSC-master
/resources
/attractor/Assets/Extra
/attractor/Assets/OSCTest
/attractor/Library
/attractor/.vs
/attractor/Temp
/attractor/UnityPackageManager
/orbbec-blob/x64
/orbbec-blob/Debug
/orbbec-blob/webcam/Debug
/orbbec-blob/webcam/x64
/orbbec-blob/oscpack/